$darkPrimary: rgb(0, 17, 41);
$primary: rgba(0, 29, 61, 1);
$lightPrimary: rgb(0, 63, 122);
$light: rgb(245, 246, 244);
$secondary: rgb(123, 155, 183);
$grey: rgba(109, 130, 153, 1);


.card {
    height: 150px;
    display: flex;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    color: $light;
    background-color: $secondary;
    box-shadow: 1px 1px 1px rgb(92, 92, 94);
    width: 100%;
    text-transform: uppercase;
    border: 1px solid $primary;
    max-width: 50%;
    h2 {
        z-index: 10;
        position: absolute;
        background-color: $primary;
        border-top-left-radius: 10px;
        padding: 0 20px;
    }
    img {
        width: 100%;
        height: 100%;
        z-index: 2;
        border: 1px solid transparent;
        border-radius: 10px;
    }

}

.section {
    padding: 20px 10px;
    margin: 10px 0px;
    border: 1px solid $primary;
}


