<div class="flex section">
    <a href="http://localhost:4200/" class="card" >
        <img src="../../assets/img/angular.png">
        <h2>4200</h2>
    </a>
    <a href="http://localhost:3000/" class="card">
        <img src="../../assets/img/react.png">

        <h2>3000</h2>
    </a>
</div>
<div class="flex section">
    <a href="http://193.21.9.33:88/" class="card">
        <img src="../../assets/img/labo.jpg">
        <h2>Labo</h2>
    </a>
    <a href="http://193.21.9.18:3000/" class="card">
        <img src="../../assets/img/devis.jpg">
        <h2>GéoDevis</h2>
    </a>
    <a href="http://193.21.9.33:50/" class="card">
        <img src="../../assets/img/enquete.jpg">

        <h2>SATISLABO</h2>
    </a>
    <a href="http://193.21.9.33:55/" class="card">
        <img src="../../assets/img/cadenas.jpg">
        <h2>Cadre</h2>
    </a>
</div>
<div class="flex section">
    <a href="https://earthbase-f0577.web.app/" class="card">
        <img src="../../assets/img/carto.jpg">
        <h2>GéoCarto</h2>
    </a>
</div>