<div id="app" class="app flex column">
  <div id="top-bar" class="top-bar">
    <div>
      <h2 class="app-name">MySpace</h2>
    </div>
    <div *ngIf="isLoggedIn()">
      <div id="div-topbar-user" [title]="getUserInstanceInfo()">
        <img class="full-width" src="../assets/svg/user.svg" />
        <span id="username">{{getUserInstance()}}</span>
      </div>
      <button id="btn-logout" (click)="logout()" ><img src="../assets/svg/power-off.svg"/></button>
    </div>
  </div>

  <div id="auth-page" *ngIf="!isLoggedIn()"  >
    <div id="div-login">      
      <h2 class="app-name">MySpace</h2>
      <button id="btn-login" (click)="login()">Se connecter</button>
    </div>
  </div>


  <div *ngIf="isLoggedIn()" class="flex" style="max-height: 95vh;" >
    <div id="left-bar" >
      <div>
        <nav class="flex column nav-left">
          <a  routerLink="/" routerLinkActive=""  title="Retour à L'accueil">
            <span *ngIf="sidebar">Accueil</span>
            <img *ngIf="!sidebar" src="../assets/svg/accueil.svg" />
          </a>

          <a routerLink="/tab" routerLinkActive=""  title='Ouvrir la page "Liste des Affaires"'>
            <span *ngIf="sidebar">Link</span>
            <img *ngIf="!sidebar" src="../assets/svg/window.svg" />               
          </a>

          <a routerLink="/tools" routerLinkActive=""  title='Ouvrir la page "Liste des Affaires"'>
            <span *ngIf="sidebar">Tools</span>
            <img *ngIf="!sidebar" src="../assets/svg/wrench.svg" />               
          </a>

          <a routerLink="/calendar" routerLinkActive="" title='Ouvrir la page "Liste des devis"'>
            <span *ngIf="sidebar">Calendrier</span>
            <img *ngIf="!sidebar" src="../assets/svg/calendar.svg" />          
          </a>
        </nav>
      </div>
      <div class="flex column">
        <button id="btn-toogle-sidebar" (click)="toogleSidebar()">
          <img *ngIf="!sidebar" src="../assets/svg/arrowD.svg" />
          <img *ngIf="sidebar" src="../assets/svg/arrowG.svg" />
        
        </button>
      </div>
    </div>
    <div id="content" class="div-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>