$darkPrimary: rgb(0, 17, 41);
$primary: rgba(0, 29, 61, 1);
$lightPrimary: rgb(0, 63, 122);
$light: rgb(245, 246, 244);
$secondary: rgb(123, 155, 183);
$grey: rgba(109, 130, 153, 1);


img {
  width: 100%;
}

.top-bar {
  height: 5vh;
  min-height: 45px;
  width: 100%;
  min-width: 100%;

  background-color: $primary;
  display: flex;
  padding: 3px;
  justify-content: space-between;
  align-items: center;
  color: white;

  div {
    display: flex;
    align-items: center;

  }

  #username {
    color: $light;
    text-transform: uppercase;
  }

  button {
    background-color: $primary;
    border: 1px solid $light;
    color: $light;
  }

  img {
    width: 2vh;
    height: 2vh;
  }

  #div-topbar-user {
    min-height: 25px;
    margin-right: 10px;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 0px 20px;
    border-radius: 2vh;
    cursor: pointer;

    img {
      margin-right: 10px;
    }
  }

  #btn-logout {
    height: 3vh;
    width: 3vh;
    border-radius: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    font-size: 1em;
  }

}

#left-bar {
  height: 95vh;
  width: 50px;
  min-width: 50px;
  padding: 5px 5px 0px 5px;
  background-color: $secondary;
  display: block;
  flex-direction: column;
  justify-content: space-between;
  a,
  button {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid $lightPrimary;
    border-radius: 2px;
    background-color: $darkPrimary;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
  }

  img {
    width: 25px;
    height: 25px;
  }


}















// .app {
//   margin: 0;
// }

// #btn-logout {
//   margin: auto 10px auto 10px;
//   width:150px;
//   height: 3vh;
//   min-height: 25px;
//   /* border-radius: 4px; */

//   font-size: 1em;
// }

// #auth-page {
//   height: 95vh;
//   display: flex;
//   width: 100%;
//   justify-content: center;
//   align-items: center
// }

// #div-login {
//   width: 40vw;
//   height: 40vh;
//   margin:auto;
//   background-color: #aaa;
//   justify-content: center;
//   align-items: center;
//   display: flex;
//   flex-direction: column;
// }
// #div-login {
//   font-size: 4vw;
//   color: white;
// }

// #btn-login {
//   width: 10vw;
//   height: 3vw;
//   font-size: 1vw;
//   border-radius: 4px;
// }


// .nav-left {
//   width: 100%;
// }

// .nav-left > a {
//   margin: 5px;
//   padding: 5px;
//   border: 1px solid #616A74;
//   border-radius: 2px;
//   background-color: rgba(97,106,116,0.5);
//   color: white;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   justify-content: center;
//   text-decoration: none;
// }

// .nav-left > a:hover {
//   background-color: #616A74;
// }

// .nav-left > a:active {
//   background-color: #34393e;
// }

// #btn-toogle-sidebar {
//   margin: 5px;
//   font-size: 16px;
//   padding: 5px;
//   border: 1px solid #616A74;
//   border-radius: 2px;
//   background-color: rgba(97,106,116,0.5);
//   color: white;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-decoration: none;
//   content: "«";
// }
// #btn-toogle-sidebar > a:hover {
//   background-color: #616A74;
// }

// #btn-toogle-sidebar > a:active {
//   background-color: #34393e;
// }


// img {
//   width: 100%;
// }

// #div-topbar-user {
//   min-height: 25px;

//   height: 3vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: 1px solid white;
//   padding: 0px 20px ;
//   border-radius: 2vh;
//   cursor: pointer;
// }

// #div-topbar-user >img {
//   width: 2vh;
//   height: 2vh;
//   display: flex;
//   margin-right: 10px;
// }