/* You can add global styles to this file, and also import other style files */
body {margin:0; width: calc(100vw - var(--scrollbar-width));max-height: 100vh;}
.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
.flex {display: flex;}
.column {flex-direction: column;}
.space{justify-content: space-between;}
.white {color: rgba(255, 255, 255,1);}
.orange {color: rgba(232, 117, 17,1);}
.grey {color: rgb(60, 66, 73);}
.full-width { width: 100%;}
.app-name { margin-left: 10px;}
.align-center {
    align-items: center;
}
div {
    margin: 0px; }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    margin-left: 10px;
    margin-right: 10px;
    
}
.div-content {
    width: 100%;
    height: 95vh;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.div-page {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.div-responsive {
    display: flex;
}

@media (max-width: 1450px) {
    .div-responsive {
        flex-direction: column;
    }
    
}

input[type='checkbox'], input[type='radio'], button {
    cursor: pointer;
}


.datatable {
    margin: auto 25px;
}


/* ///// LOADING SPIN //// */
.div-loading-spin {
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(97, 106, 116, 0.7);
    position: relative;
    top: 40vh;
    display: flex;
}


  
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
/* \\\\\ LOADING SPIN //// */
  