<p>calendar works!</p>
<dx-scheduler id="scheduler"
[views]="['week', 'month']"
currentView="month"
[firstDayOfWeek]="1"
timeZone="Europe/Berlin"
[currentDate]="currentDate"
[height]="600"
[showCurrentTimeIndicator]="showCurrentTimeIndicator"

[indicatorUpdateInterval]="indicatorUpdateInterval"
[showAllDayPanel]="false"
>
  
</dx-scheduler>