<div class="flex">
    <div class="panel-major">
        oui
    </div>

    <div class="list-link">      
        <a target="_blank" href="https://www.youtube.com/"><img class="ico" src="../../assets/ico/youtube.ico"/>Youtube</a>
        <a target="_blank" href="https://www.youtube.com/"><img class="ico" src="../../assets/ico/youtube.ico"/>Youtube</a>
        
    </div>    
    <div class="list-link">          
        <a target="_blank" href="https://geotecsa-my.sharepoint.com/personal/tmichelin_geotec_fr/_layouts/15/onedrive.aspx"><img class="ico" src="../../assets/ico/onedrive.ico"/>ONEDRIVE GEOTEC</a>
        <a target="_blank" href="https://geotecsa.sharepoint.com/sites/PortailGEOTEC"><img class="ico" src="../../assets/ico/sharepoint.ico"/>SHAREPOINT GEOTEC</a>
        <a target="_blank" href="https://teams.microsoft.com/_#/conversations/"><img class="ico" src="../../assets/ico/teams.ico"/>TEAMS WEB</a>
        <a target="_blank" href="https://outlook.office.com/mail/inbox"><img class="ico" src="../../assets/ico/outlook.ico"/>OUTLOOK WEB</a>
        <a target="_blank" href="https://geotecsa.sharepoint.com/sites/info-prive/SitePages/Bandes-passantes-internet(1).aspx"><img class="ico" src="../../assets/ico/sharepoint.ico"/>BP INTERNET</a>
        <a target="_blank" href="https://gitlab.geotec.fr/"><img class="ico" src="../../assets/ico/gitlab.ico"/>GITLAB</a>
        <a target="_blank" href="https://www.geotec.fr/fr"><img class="ico" src="../../assets/ico/geotec.png"/>GEOTEC</a>       
    </div>
    <div class="list-link">
        <a target="_blank" href="http://localhost:80/">XAMPP 80</a>
        <a target="_blank" href="http://localhost/phpmyadmin/">PHPMYADMIN</a>
        <a target="_blank" href="http://localhost:4200/">4200</a>
        <a target="_blank" href="http://localhost:3000/">3000</a>
        <a target="_blank" href="http://193.21.9.33:88/" >LABO</a>
        <a target="_blank" href="https://earthbase-f0577.web.app/" >CARTO</a>
        <a target="_blank" href="http://193.21.9.18:3000/" >18 3000</a>
        <a target="_blank" href="http://193.21.9.33:50/" >SATISLABO</a>
        <a target="_blank" href="http://193.21.9.33:55/" >CADRE</a>        
    </div>
    <div class="list-link">
        <a target="_blank" href="https://angular.io/docs"><img class="ico" src="../../assets/ico/angular.png"/>Angular</a>
        <a target="_blank" href="https://js.devexpress.com/Documentation/Guide/UI_Components/"><img class="ico" src="../../assets/ico/devextrem.ico"/>DEV EXTREM</a>
        <hr>
        <a target="_blank" href="https://blog.arthurbazin.com/programmation/open-layer-le-sig-web-a-portee-de-main#introduction"><img class="ico" src="../../assets/ico/arthubazin.png"/>OL arthurbazin</a>
        <a target="_blank" href="https://openlayers.org/"><img class="ico" src="../../assets/ico/openlayer"/>OPEN LAYERS</a>
        <hr>
        <a target="_blank" href="https://icon-icons.com/"><img class="ico" src="https://cdn.icon-icons.com/images/favicon.ico"/>ICONS</a>
        <a target="_blank" href="https://unicode-table.com/fr/"><img class="ico" src="../../assets/ico/unicodetable.ico"/>UNICODE TABLE</a>
        <a target="_blank" href="https://htmlcolorcodes.com/fr/"><img class="ico" src="../../assets/ico/palette.png"/>COLOR PALETTE</a>
          
    </div>
</div>