$darkPrimary: rgb(0, 17, 41);
$primary: rgba(0, 29, 61, 1);
$lightPrimary: rgb(0, 63, 122);
$light: rgb(245, 246, 244);
$secondary: rgb(123, 155, 183);
$grey: rgba(109, 130, 153, 1);
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@100&family=Spartan:wght@100&display=swap');
.panel-major {
    border: 1px solid $lightPrimary;    
    width: 50%;
    height: max-content
}
.list-link  {
    border: 1px solid $lightPrimary;  
    width: 20%;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0px;
    a {
        .ico {
            width: 20px;
            height: 20px;
            margin-right:10px;
        }
        font-size: 14px;
        text-transform: uppercase;
        font-family: "Lora";
        display: flex;
        align-items: center;
        background-color: $secondary;
        margin: 5px 20px;
        padding: 5px;
        color: $light;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 1px 1px 1px $darkPrimary;
    }

    hr {
        margin: 10px 30px;
    }
}

